<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLM Connect</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.2" crossorigin="anonymous"></script>

</head>
<body>
    <h1>Demo of LLM Connection</h1>
    <div
        hx-ext="sse"
        sse-connect="/ai"
        sse-swap="message,status"
        sse-close="close"
    >
        I'll connect to LLM
    </div>
</body>
</html>